<div class="wrapper">
<header>
  <div class="header-top">
    <div>
  <img src="../assets/images/logo.png"> <span>ThisThat Analytics</span>
</div>
</div>
  <nav>
    <ul>
      <li>
        <img src="../assets/images/dashboard.png" alt="">
        <span>dashboard</span>
      </li>
      <li class="nav-active">
          <img src="../assets/images/manage-polls.png" alt="">
          <span>manage polls</span>
        </li>
        <li>
            <img src="../assets/images/createPoll.png" alt="">
            <span>create polls</span>
          </li>
          <li>
              <img src="../assets/images/publishAndPromotion.png" alt="">
              <span>publish and promote</span>
            </li>
            <li>
                <img src="../assets/images/thisThatMessages.png" alt="">
                <span>this that messages</span>
              </li>
    </ul>
  </nav>
</header>
<main>
  <div class="main-left">
    <figure class="image-wrapper">
      <div class="image-title">Gold rims on the GT3 RS?</div>
      <img src="../assets/images/car.png" alt="">
      <div style="display: flex;">
      <span class="button" (click)="onAddData('that')" style="margin-right: 1em;">Love them</span>
      <span class="button" (click)="onAddData('this')">Not a fun</span>
    </div>
    </figure>
    <div class="profile-summery">
        <img src="https://www.countryflags.io/{{flag}}/shiny/64.png">
        <span>{{genderString}}</span>

    </div>
  </div>
  <div class="main-right">
    <div class="vote-percent box">
      <div class="vote-percent-item vote-percent-item-ok">
          <p>"This" votes: {{resultView?.totalThis}}</p>
          <span>{{resultView?.thisPercent}}%</span>
      </div>
      <div class="vote-percent-item">
          <p>"That" votes: {{resultView?.totalThat}}</p>
          <span>{{resultView?.thatPercent}}%</span>
        </div>
    </div>
    <div class="box-wrapper">
      <div class="box" style="flex:1;">
        <img style="margin-right: 0.5em;" src="../assets/images/1.png" alt="">
        <div>
          <p>votes</p>
          <span style="font-size: 250%; font-weight: bold;">{{resultView?.totalData}}</span>
        </div>
      </div>
      <div style="display: flex; flex: 1;">
      <div class="box" style="justify-content: center;">
        <img src="../assets/images/3.png" alt="">
      </div>
      <div class="box" style="justify-content: center;">
          <img src="../assets/images/4.png" alt=""></div>
        </div>
    </div>
    <!-- <div class="box-wrapper">
        <div class="box">
            <img style="margin-right: 0.5em;" src="../assets/images/2.png" alt="">
            <div >
              <p>Total reach in the past 7 days</p>
              <span style="font-size: 250%; font-weight: bold;">6,015</span>
            </div>
          </div>
          <div class="box">
              <img style="margin-right: 0.5em;" src="../assets/images/5.png" alt="">
              <div >
                <p>Total reach in the past 7 days</p>
                <span style="font-size: 250%; font-weight: bold;">6,015</span>
              </div>
            </div>
    </div> -->
    <div class="box-wrapper">
        <div class="box" style="flex:1;">
          <img style="margin-right: 0.5em;" src="../assets/images/6.png" alt="">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <p>Audience Gender</p>
            <span style="font-size: 350%; font-weight: bold; padding: 0.3em 0;">{{resultView?.malePercent}}:{{resultView?.femalePercent}}</span>
            <p style="width: 100%; display: flex; justify-content: space-around;"><span>Male</span><span>Female</span></p>
          </div>
        </div>
        <div class="box" style="flex:1;">
          <img style="margin-right: 0.5em;" src="../assets/images/7.png" alt="">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <p>Numbers of "Shares"</p>
            <span style="font-size: 350%; font-weight: bold; padding: 0.3em 0;">135</span>
            <p style="width: 100%; display: flex; justify-content: space-around;">
              copied links and shares
            </p>
          </div>
        </div>
      </div>
      
      <div class="box" style="padding: 1em; background-color: white; height: 430px;">
          <app-chart [data]="data"></app-chart>
        </div>
  </div>
</main>
</div>