.wrapper {
    background-color: white;
    margin: 1em;
    border-radius: 2rem;
    overflow: hidden;
    min-height: calc(100vh - 2rem);
    padding: 1.5em;
}
.header-top {
    font-size: 2rem;
    color: var(--themeColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-top > div > img {
    margin-right: 0.3em;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    font-size: 80%;
    font-weight: bold;
    border:3px solid transparent;
    transition: all 0.2s ease;
    padding: 1em;
    border-radius: 0.5em;
    cursor: pointer;
}

nav > ul > li:hover {
    border-color: var(--themeColorLight);
}

main {
    background-color: var(--themeColor);
    margin-top: 2em;
    display: flex;
    padding: 2em;
}

.nav-active {
    border-color: var(--themeColor) !important;
}

.main-left {
    flex: 1;
}

.main-right {
    flex: 2;
}

.box-wrapper {
    display: flex;
}

.box {
    display: flex;
    background-color: white;
    border-radius: 0.5em;
    align-items: center;
    box-shadow: 0 0.1em 0.4em #666;
    margin: 0.5em;
    flex: 1;
    overflow: hidden;
    padding: 1em;
    color: #777;
    justify-content: flex-start;
}

.box p {
    margin: 0;
}

.vote-percent-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: #888;

}

.vote-percent-item > p {
    font-size: 130%;
    font-weight: bold;
}

.vote-percent-item > span {
    font-size: 400%;
    font-weight: bolder;
}

.vote-percent-item-ok > span {
    color: var(--themeColor);
}

.image-wrapper {
    overflow: hidden;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0.3em;
    padding-top: 1em;

}

.image-title, .button {
    background-color: white;
    box-shadow: 0 4px 0.5em #aaa;
    margin-bottom: 1em;
    padding: 0.5em 0.7em;
    font-weight: bold;
    font-size: 85%;
    border-radius: 2em;
}

.button {
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 3px 0.3em #aaa;
}

.profile-summery {
    border-radius: 2em;
    background-color: #fff;
    margin-right: 2em;
    margin-left: 2em;
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-summery > span {
    font-size: 120%;
    margin-top: 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--themeColor);
    letter-spacing: 1px;
}

@media all and (max-width: 1690px) { }
@media all and (max-width: 1280px) {
    .header-top > img {
        max-width: 70px;
    }

    nav > ul > li > img {
        max-width: 150px;
    }
 }
@media all and (max-width: 980px) { 
    nav > ul > li > img {
        max-width: 110px;
    }

    main {
        flex-direction: column;
    }

    .vote-percent-item > p {
        font-size: 100%;
        font-weight: bold;
    }
    
    .vote-percent-item > span {
        font-size: 200%;
        font-weight: bolder;
    }
 }
@media all and (max-width: 736px) {
    nav > ul > li > img {
        max-width: 90px;
    }
  }
@media all and (max-width: 480px) {  }