/* You can add global styles to this file, and also import other style files */
:root {
    font-size: 1em;
    --themeColor: #fd659f;
    --themeColorLight: #f897bc;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto';
    background-color: var(--themeColor);
}

*,
::before,
::after {
    box-sizing: inherit;
    user-select: none;
}


/* -------------------------------- Scroll bar --------------------------------------------*/
::-webkit-scrollbar {
    width: 12px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #bebdbd;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #6a6a6a;
    }